body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* Hide horizontal scrollbar that appears due to vertical scrollbar */
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 100;
  src: local('Axiforma'), url('fonts/AxiformaThinfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 200;
  src: local('Axiforma'),
  url('fonts/AxiformaLightfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 300;
  src: local('Axiforma'), url('fonts/AxiformaBookfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 400;
  src: local('Axiforma'),
  url('fonts/AxiformaRegularfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 500;
  src: local('Axiforma'),
  url('fonts/AxiformaMediumfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 600;
  src: local('Axiforma'),
  url('fonts/AxiformaSemiBoldfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 700;
  src: local('Axiforma'), url('fonts/AxiformaBoldfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 800;
  src: local('Axiforma'),
  url('fonts/AxiformaExtraBoldfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 900;
  src: local('Axiforma'),
  url('fonts/AxiformaBlackfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: 1000;
  src: local('Axiforma'),
  url('fonts/AxiformaHeavyfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Basis Grotesque';
  font-weight: 400;
  src: local('Basis Grotesque'),
    url('fonts/BasisGrotesqueRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Basis Grotesque (Off-White)';
  font-weight: 400;
  src: local('Basis Grotesque (Off-White)'),
    url('fonts/BasisGrotesqueOffWhite.woff2') format('woff2');
}

@font-face {
  font-family: 'calistoga';
  src: local('Calistoga'),
  url(fonts/Calistoga-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "'Circular std'";
  src: local('Circular std'), url(fonts/Circular-Std.otf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: local('Gotham'),
  url('fonts/Gotham Book Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Chronicle Display';
  font-weight: 900;
  src: local('Chronicle Display'),
  url('fonts/Chronicle Display Black.woff') format('woff');
}

@font-face {
  font-family: 'Chronicle Display';
  font-weight: 600;
  src: local('Chronicle Display'),
  url('fonts/Chronicle Display Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Chronicle Display';
  font-weight: 300;
  src: local('Chronicle Display'),
  url('fonts/Chronicle Display Roman.woff') format('woff');
}

@font-face {
  font-family: 'Chronicle Display';
  font-weight: 100;
  font-style: italic;
  src: local('Chronicle Display'),
  url('fonts/Chronicle Display Light Italic.woff') format('woff');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 900;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextBlack.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 900;
  font-style: italic;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextBlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 700;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 700;
  font-style: italic;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 300;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 300;
  font-style: italic;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 500;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 500;
  font-style: italic;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextMediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 400;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Domaine Sans Text';
  font-weight: 400;
  font-style: italic;
  src: local('Domaine Sans Text'),
    url('fonts/DomaineSansTextRegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: local('Graphik'), url('fonts/Graphik Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: local('Chronicle Display'),
  url('fonts/Graphik Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: local('Graphik'), url('fonts/Graphik Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FF Sero Std';
  font-weight: 300;
  src: local('FF Sero Std'), url('fonts/FF Sero Std.woff') format('woff');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 200;
  src: local('PolySans'), url('fonts/PolySans-Slim.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 200;
  font-style: italic;
  src: local('PolySans'), url('fonts/PolySans-SlimItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 400;
  src: local('PolySans'), url('fonts/PolySans-Neutral.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 400;
  font-style: italic;
  src: local('PolySans'), url('fonts/PolySans-NeutralItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 600;
  src: local('PolySans'), url('fonts/PolySans-Median.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 600;
  font-style: italic;
  src: local('PolySans'), url('fonts/PolySans-MedianItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 800;
  src: local('PolySans'), url('fonts/PolySans-Bulky.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-weight: 800;
  font-style: italic;
  src: local('PolySans'), url('fonts/PolySans-BulkyItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 200;
  src: local('PrimaryFont'), url('fonts/PrimaryFontL.woff') format('woff');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 400;
  src: local('PrimaryFont'), url('fonts/PrimaryFont.woff') format('woff');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 600;
  src: local('PrimaryFont'), url('fonts/PrimaryFontM.woff') format('woff');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 800;
  src: local('PrimaryFont'), url('fonts/PrimaryFontB.woff') format('woff');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 600;
  src: local('PrimaryFont'), url('fonts/PrimaryFontM.woff') format('woff');
}

@font-face {
  font-family: 'PrimaryFont';
  font-weight: 800;
  src: local('PrimaryFont'), url('fonts/PrimaryFontB.woff') format('woff');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 800;
  src: local('Sansation'), url('fonts/Sansation-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 800;
  font-style: italic;
  src: local('Sansation'), url('fonts/Sansation-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 600;
  src: local('Sansation'), url('fonts/Sansation-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 600;
  font-style: italic;
  src: local('Sansation'), url('fonts/Sansation-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 400;
  src: local('Sansation'), url('fonts/Sansation-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-weight: 400;
  font-style: italic;
  src: local('Sansation'), url('fonts/Sansation-LightItalic.ttf') format('truetype');
}
